<div id="duckbar" class="zcm-wrap  zcm-wrap--header">
  <div class="zcm">
    <ul class="zcm__menu  zcm__dynamic has-zci" id="duckbar_home">
      <li class="zcm__item"><a data-zci-link="about" class="zcm__link  js-zci-link  js-zci-link--about is-active" href="https://duckduckgo.com/?q=ewok&amp;ia=about#">About</a></li>
    </ul>
    <ul class="zcm__menu  zcm__constant has-zci" id="duckbar_static"><span id="duckbar_static_sep" class="zcm__sep--h sep--before"></span>
      <li class="zcm__item"><a data-zci-link="images" class="zcm__link  js-zci-link  js-zci-link--images  " href="#">Images</a></li>
      <li class="zcm__item"><a data-zci-link="videos" class="zcm__link  js-zci-link  js-zci-link--videos  " href="#">Videos</a></li>
    </ul>
    <ul class="zcm__menu  zcm__dynamic has-zci" id="duckbar_new"><span id="duckbar_dynamic_sep" class="zcm__sep--h sep--before"></span>
      <li class="zcm__item"><a data-zci-link="products" class="zcm__link  js-zci-link  js-zci-link--products  " href="#">Products</a></li>
    </ul>
  </div>
</div>